<ng-container *ngIf="service.sheets$ | async as items">
    <div
        *ngFor="let item of items"
        tuiSheetWrapper
        class="t-wrapper"
        [class._overlay]="item.overlay"
        [tuiOverscroll]="item.overlay ? 'all' : 'none'"
        [@tuiSlideInTop]="animation"
        [@tuiFadeIn]="animation"
    >
        <tui-sheet [item]="item" (close)="close(item)"></tui-sheet>
    </div>
    <div
        tuiOverscroll="all"
        class="t-overlay"
        [class.t-overlay_possible]="items.length"
        (click)="close(items[0])"
    ></div>
</ng-container>
